export DIRENV_WARN_TIMEOUT='10s'
# export DIRENV_LOG_FORMAT=""

source_env "$HOME"
source_env_if_exists ./env/.envrc
export PATH="${GOPATH}/bin:${PATH}"

# This is set for local kind/minikube config to avoid touching the main kubeconfig
export KUBECONFIG=.cache/config
export MAGEFILE_ENABLE_COLOR=1
export PATH="${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin:${PATH}"

if [[ -f ".env" ]]; then
  dotenv_if_exists ".env"
else
  printf "${BACKGROUND_LIGHT_YELLOW}LOCAL ENVIRONMENT CONFIGURATION${RESET_COLOR}\n"
  printf "${WARNING_COLOR}👉 .env not found\n"
  printf "${WARNING_COLOR}\tSuggested fixes:\n"
  printf "${WARNING_COLOR}\t\t1. create ${BACKGROUND_LIGHT_GREEN}.env${RESET_COLOR}\n"
  printf "${WARNING_COLOR}\t\t2. ensure ${RESET_COLOR}${BACKGROUND_LIGHT_GREEN}.env${RESET_COLOR}${WARNING_COLOR} contains the following variables: \n\n"
fi
if [[ -z "${DSV_PROFILE_NAME}" ]]; then
  printf "\t\t\t- ${WARNING_COLOR}👉 DSV_PROFILE_NAME not set${RESET_COLOR}\n"
else
  printf "✔️ ${INFO_COLOR}DSV_PROFILE_NAME set${RESET_COLOR}\n"
fi
